<form action="">
    <div class="form-row">
        {{#>Label id='first_name'}}
            {{>Input id='username' name='login' description='Имя пользователя' placeholder='Ваш логин'}}
        {{/Label}}
    </div>
</form>