<div>
    Тут будет информация по чатам.
</div>
<div>
    Разбивка на кучу модулей: settings, chatsList, chat
</div>
<div>
    Еще нужно сделать страницу settings
</div>
<div>
    Before every request I have to check authentication on client. If needed I should redirect to "/auth" url
</div>
<a href="{{route 'auth'}}">Авторизация</a>