<div class="page-wrapper centered-content">
    <a href="{{route 'profile'}}" class="back-btn">Назад</a>
    <main class="single-content-block single-block">
        <div class="settings my-2">
            <form action="">
            {{>userDataForm}}
            <div>
                {{#>Button}}Сохранить{{/Button}}
            </div>
            </form>
        </div>
        
    </main>
</div>